.post-bg {
    background: #ffeedd;


}
.block-with-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}





.flex-tile {
    display: flex;
    flex-flow: row;
    background: #E8E8E8;
    margin: 20px;
     border-radius: 10px;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;

}
.flex-tile:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}


.tile-name {
    height: auto;
    line-height: 25px;
    vertical-align: middle;
    margin: 10px;



}
.tile-name-bg
{
    background: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

}
.post-margin{

     margin-right: 10px;
    margin-top: 10px;

}
.heading-post{
    display: flex;

    color: #b9b8b8;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.column {
    flex: 50%;
}
.post-detail{
    margin-left: 10px;
}
.align-right-item{
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
}
.modal-confirm
{
    margin: auto;
    background-color: #fff;
    position: relative;

    padding: 20px;
width: 30%;

}

